[Desktop Entry]
Name=Teststand Launcher
Comment=Launch lura teststand
Exec=lxterminal -e "/bin/bash -c 'cd $HOME/lura-teststand/; uv run teststand; read -p "Press Enter to close..."'"
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Utility;
